<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Create a Joke</title>
	</head>
	<p><a href="/read">Read Jokes</a></p>
	<form action="/create" method="POST">
		<label>Joke</label>
		<input id="joke" name="joke" type="text"></input>
		<br/>
		<label>Punchline</label>
		<input id="punchline" name="punchline" type="text"></input>
		<br/>
		<label>Rating</label>
		<input id="rating" name="rating" type="text"></input>
		<br/>
		<input type="submit" value="Create"></input>
	</form>
	</body>
</html>